<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulário de Contato</title>
    <style></style>
</head>
<body>
    <section class="layout">
        <div class="header"><h1>Digi3 - Sistema de Gerenciamento de Imagens</h1></div>
        <div class="header"><h2>Formulário de Contato</h2></div>
        <div class="header"><h2>Alguém entrou em contato com a Digi3</h2></div>
        <div class="header"><h4>Nome: {{name}}</h4></div>
        <div class="header"><h4>Email: {{email}}</h4></div>
        <div class="header"><h4>Telefone: {{phone}}</h4></div>
        <div class="header"><h4>Mensagem: {{body}}</h4></div>
        </div>
        </div>
      </section>
</body>
</html>
