<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recupeação de Senha - Digi3</title>
    <style></style>
</head>
<body>
    <section class="layout">
        <div class="header"><h1>Digi3 - Sistema de Gerenciamento de Imagens</h1></div>
        <div class="header"><h2>Email de Recuperação de Senha</h2></div>
        <div class="header"><h3>Cartório: {{company}}</h3></div>
      Foi solicitado uma nova senha, segue abaixo os dados para acesso.</br>Recomendamos que modifique assim que fizer o primeiro login</p></div>
        <div>Login da Empresa: <strong>{{shortname}}</strong></br>  
        <div>Login do Usuário: <strong>{{username}}</strong></br>
         <div>senha de recuperação: <strong>{{newPassword}}</strong></div>
        </div>
        </div>
      </section>    
</body>
</html>